


.bg-spacedog{
background-color: #6a23a18d;
max-height: 75%;
}

.hero-image {
    
    background-image: url(cool-geometric-triangular-figure-neon-laser-light-great-background.jpg);
    min-height: 100vh;
background-position: center;
background-size: cover;
background-repeat: none;      
} 

.box-shade {
    border: 2px solid #18063c;
box-shadow: 10px 10px 6px rgb(53, 55, 51);
border-radius: 30px;}

.glassCard{
/* From https://css.glass */
background: rgba(48, 172, 229, 0.45);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(2.4px);
-webkit-backdrop-filter: blur(2.4px);
border: 1px solid rgba(101, 204, 63, 0.5);
}


.box-shade1 {
    border: 2px solid #b4aa1c;
box-shadow: 5px 5px 3px rgb(77, 47, 71);
border-radius: 30px;}

.SpaceFont {

} 

.spaceDog1 {
box-sizing: border-box;
border: #18063c;
border-radius: 15%;
}

.box-shade3 {
    
    border: 2px solid #71086d;
box-shadow: 5px 5px 3px rgb(85, 159, 10);
border-radius: 100px;}

.box-shade4{
    border: 2px solid #71086d;
box-shadow: 5px 5px 3px rgb(159, 10, 152);
border-radius: 100px;
max-width: 50%;
max-height: 50%;
}

}